In [1]:
import numpy as np
import pandas as pd

Assignment 1: Series Basics
The code has been previded to create an array, oil_array from a dataframe column.

Convert oil_array into a Pandas Series, called oil_series. Give it a name!
Return the name, dtype, size, and index of oil_series.
Take the mean of the values array.

Then, convert the series to integer datatype and recalculate the mean.

In [10]:
oil_df = pd.read_csv(r"C:\Users\0147982\Documents\Training\wibd_practice\oil.csv").dropna()
oil_df.head()

         date  dcoilwtico
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20
5  2013-01-08       93.21

In [11]:
oil_df.shape

(1175, 2)

In [12]:
# The code has been previded to create an array, oil_array from a dataframe column.
# Convert oil_array into a Pandas Series, called oil_series. Give it a name!
oil_series = pd.Series(oil_df['dcoilwtico'], name = 'oil_price')
oil_series

1       93.14
2       92.97
3       93.12
4       93.20
5       93.21
        ...
1213    47.65
1214    46.40
1215    46.46
1216    45.96
1217    47.26
Name: oil_price, Length: 1175, dtype: float64

In [13]:
# Return the name, dtype, size, and index of oil_series.
print(oil_series.name)
print(oil_series.dtype)
print(oil_series.size)
print(oil_series.index)

oil_price
float64
1175
Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217],
      dtype='int64', length=1175)

In [16]:
# Take the mean of the values array.
oil_series.values.mean()
# Then, convert the series to integer datatype and recalculate the mean.

67.71436595744682

In [17]:
oil_series.astype('int').values.mean()

67.21361702127659

Assignment 2: Accessing Series DataÂ¶
Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.

Then, take the mean of the first 10 and last 10 prices of the series.

Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [20]:
date = pd.Series(oil_df['date'])
date.shape

(1175,)

In [21]:
oil_series.shape

(1175,)

In [23]:
oil_series.index = date
oil_series.index

Index(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-07', '2013-01-08',
       '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-14', '2013-01-15',
       ...
       '2017-08-18', '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
       '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31'],
      dtype='object', name='date', length=1175)

In [26]:
# Then, take the mean of the first 10 and last 10 prices of the series.
print(oil_series.iloc[:10].mean())
print(oil_series.iloc[:-10].mean())

93.366
67.88955364806867

In [41]:
# Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.
oil_series.loc['2017-01-01': '2017-01-07'].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_price, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [42]:
dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [43]:
oil_series

date
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
2013-01-08    93.21
              ...
2017-08-25    47.65
2017-08-28    46.40
2017-08-29    46.46
2017-08-30    45.96
2017-08-31    47.26
Name: oil_price, Length: 1175, dtype: float64

In [45]:
# Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.
oil_series.sort_values().iloc[:10].sort_index(ascending = False)

date
2016-02-16    29.05
2016-02-12    29.32
2016-02-11    26.19
2016-02-10    27.54
2016-02-09    27.96
2016-01-26    29.54
2016-01-21    29.55
2016-01-20    26.68
2016-01-19    28.47
2016-01-15    29.45
Name: oil_price, dtype: float64

In [47]:
# Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.
mask = oil_series.index.isin(dates) & (oil_series.values<50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_price, dtype: float64

# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [49]:
oil_series * 1.1 + 2

date
2013-01-02    104.454
2013-01-03    104.267
2013-01-04    104.432
2013-01-07    104.520
2013-01-08    104.531
               ...
2017-08-25     54.415
2017-08-28     53.040
2017-08-29     53.106
2017-08-30     52.556
2017-08-31     53.986
Name: oil_price, Length: 1175, dtype: float64

In [52]:
max_price = oil_series.max()
max_price

110.62

In [55]:
diff_series = max_price - oil_series
diff_series

date
2013-01-02    17.48
2013-01-03    17.65
2013-01-04    17.50
2013-01-07    17.42
2013-01-08    17.41
              ...
2017-08-25    62.97
2017-08-28    64.22
2017-08-29    64.16
2017-08-30    64.66
2017-08-31    63.36
Name: oil_price, Length: 1175, dtype: float64

In [60]:
month_series = oil_series.index
month_series = pd.Series(month_series)

In [61]:
month_series

0       2013-01-02
1       2013-01-03
2       2013-01-04
3       2013-01-07
4       2013-01-08
           ...
1170    2017-08-25
1171    2017-08-28
1172    2017-08-29
1173    2017-08-30
1174    2017-08-31
Name: date, Length: 1175, dtype: object

In [64]:
month_series.str[5:7].astype('int')

0       1
1       1
2       1
3       1
4       1
       ..
1170    8
1171    8
1172    8
1173    8
1174    8
Name: date, Length: 1175, dtype: int32

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [78]:
print(f"Sum : {oil_series[oil_series.index.str[6:7] == '3'].sum()}")
print(f"Mean : {oil_series[oil_series.index.str[6:7] == '3'].mean()}")

Sum : 6988.33
Mean : 64.70675925925926

In [81]:
print(f"Number of Prices recorded in Jan and feb : {oil_series[oil_series.index.str[5:7].isin(['01','02'])].count()}")

Number of Prices recorded in Jan and feb : 197

In [83]:
print(f"10th and 90th Quantile : {oil_series.quantile([.1,.9])}")

10th and 90th Quantile : 0.1     41.716
0.9    103.070
Name: oil_price, dtype: float64

In [85]:
oil_series.astype('int').value_counts(normalize = True)

oil_price
48    0.046809
47    0.045957
93    0.045106
46    0.045106
45    0.044255
        ...
73    0.000851
76    0.000851
83    0.000851
28    0.000851
86    0.000851
Name: proportion, Length: 77, dtype: float64