In [5]:
import pandas as pd
import numpy as np

In [6]:
my_series = pd.Series(np.arange(5),index = ["d1","d2","d3","d4","d5"])
my_series

d1    0
d2    1
d3    2
d4    3
d5    4
dtype: int32

In [8]:
my_series.iloc[2]

2

In [13]:
my_series.iloc[[1,2,3]]

d2    1
d3    2
d4    3
dtype: int32

Assignment 2: Accessing Series Data
Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.

Then, take the mean of the first 10 and last 10 prices of the series.

Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [15]:
oil_df = pd.read_csv(r"C:\Users\0147982\Documents\Training\wibd_practice\oil.csv").dropna()

In [19]:
oil_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1175 entries, 1 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1175 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 27.5+ KB

In [25]:
oil_array = np.array(oil_df['dcoilwtico'].iloc[1000:1100])

In [26]:
oil_Series = pd.Series(oil_array,name='oil_prices')

In [27]:
oil_Series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [31]:
dates = pd.Series(oil_df['date'].iloc[1000:1100])
oil_Series.index = dates
oil_Series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [33]:
# Mean of first ten prices
oil_Series.iloc[:10].mean()

52.765

In [35]:
# Mean of last 10 prices
oil_Series.iloc[-10:].mean()

47.13

In [37]:
# oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.
oil_Series.loc['2017-01-01' : '2017-01-07'].reset_index(drop = True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64