In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\0147982\Documents\Training\wibd_practice\retail_2016_2017.csv")
df.info(memory_usage = 'Deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054944 entries, 0 to 1054943
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1054944 non-null  int64
 1   date         1054944 non-null  object
 2   store_nbr    1054944 non-null  int64
 3   family       1054944 non-null  object
 4   sales        1054944 non-null  float64
 5   onpromotion  1054944 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 48.3+ MB

In [8]:
df.isna().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

In [10]:
df.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [9]:
df.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'], dtype='object')

In [21]:
# Integers and floats are cast as 64-bit by default to handle any possible value, but
# you can downcast numeric data to a smaller bit size to save space if possible
df = df.astype(
    {
        'id' : 'Int32', 
        'date': 'datetime64[ns]',
        'store_nbr': 'Int16', 
        'family': 'category',
        'onpromotion' : 'Int16'
    }   
)

In [22]:
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054944 entries, 0 to 1054943
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   id           1054944 non-null  Int32
 1   date         1054944 non-null  datetime64[ns]
 2   store_nbr    1054944 non-null  Int16
 3   family       1054944 non-null  category
 4   sales        1054944 non-null  float64
 5   onpromotion  1054944 non-null  Int16
dtypes: Int16(2), Int32(1), category(1), datetime64[ns](1), float64(1)
memory usage: 28.2 MB