In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Projects\training\WIBD\Notes - learning Path\datafiles\Pandas Part 1\bigmart_data.csv")

In [3]:
df_sample_1 = df.sample(10)

In [4]:
df_sample_1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2876,FDI60,7.220,Regular,0.038381,Baking Goods,62.3510,OUT049,1999,Medium,Tier 1,Supermarket Type1,885.5140
6371,FDW22,9.695,Regular,0.030414,Snack Foods,221.3114,OUT018,2009,Medium,Tier 3,Supermarket Type2,2217.1140
4330,DRI03,6.030,Low Fat,0.022832,Dairy,176.7028,OUT017,2007,NaN,Tier 2,Supermarket Type1,1416.8224
8303,FDO37,8.060,Low Fat,0.021373,Breakfast,231.7326,OUT035,2004,Small,Tier 2,Supermarket Type1,5313.7498
1308,FDD21,10.300,Regular,0.030617,Fruits and Vegetables,112.7176,OUT049,1999,Medium,Tier 1,Supermarket Type1,343.5528

In [5]:
df_sample_1.sort_index(ascending = True, inplace = False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
739,FDE38,NaN,Low Fat,0.044391,Canned,164.3842,OUT027,1985,Medium,Tier 3,Supermarket Type3,4476.1734
1308,FDD21,10.300,Regular,0.030617,Fruits and Vegetables,112.7176,OUT049,1999,Medium,Tier 1,Supermarket Type1,343.5528
1964,FDL51,20.700,Regular,0.047588,Dairy,215.0876,OUT045,2002,NaN,Tier 2,Supermarket Type1,5145.3024
2876,FDI60,7.220,Regular,0.038381,Baking Goods,62.3510,OUT049,1999,Medium,Tier 1,Supermarket Type1,885.5140
4330,DRI03,6.030,Low Fat,0.022832,Dairy,176.7028,OUT017,2007,NaN,Tier 2,Supermarket Type1,1416.8224
4417,FDF53,20.750,Regular,0.083537,Frozen Foods,180.3318,OUT013,1987,High,Tier 3,Supermarket Type1,4149.9314
6171,FDE20,11.350,Regular,0.005562,Fruits and Vegetables,168.3790,OUT017,2007,NaN,Tier 2,Supermarket Type1,3225.8010
6371,FDW22,9.695,Regular,0.030414,Snack Foods,221.3114,OUT018,2009,Medium,Tier 3,Supermarket Type2,2217.1140
6928,FDQ21,21.250,Low Fat,0.019533,Snack Foods,120.4756,OUT017,2007,NaN,Tier 2,Supermarket Type1,1938.8096
8303,FDO37,8.060,Low Fat,0.021373,Breakfast,231.7326,OUT035,2004,Small,Tier 2,Supermarket Type1,5313.7498

In [6]:
df_sample_1.sort_values(by = 'Item_Weight', ascending=True, inplace = False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4330,DRI03,6.030,Low Fat,0.022832,Dairy,176.7028,OUT017,2007,NaN,Tier 2,Supermarket Type1,1416.8224
2876,FDI60,7.220,Regular,0.038381,Baking Goods,62.3510,OUT049,1999,Medium,Tier 1,Supermarket Type1,885.5140
8303,FDO37,8.060,Low Fat,0.021373,Breakfast,231.7326,OUT035,2004,Small,Tier 2,Supermarket Type1,5313.7498
6371,FDW22,9.695,Regular,0.030414,Snack Foods,221.3114,OUT018,2009,Medium,Tier 3,Supermarket Type2,2217.1140
1308,FDD21,10.300,Regular,0.030617,Fruits and Vegetables,112.7176,OUT049,1999,Medium,Tier 1,Supermarket Type1,343.5528
6171,FDE20,11.350,Regular,0.005562,Fruits and Vegetables,168.3790,OUT017,2007,NaN,Tier 2,Supermarket Type1,3225.8010
1964,FDL51,20.700,Regular,0.047588,Dairy,215.0876,OUT045,2002,NaN,Tier 2,Supermarket Type1,5145.3024
4417,FDF53,20.750,Regular,0.083537,Frozen Foods,180.3318,OUT013,1987,High,Tier 3,Supermarket Type1,4149.9314
6928,FDQ21,21.250,Low Fat,0.019533,Snack Foods,120.4756,OUT017,2007,NaN,Tier 2,Supermarket Type1,1938.8096
739,FDE38,NaN,Low Fat,0.044391,Canned,164.3842,OUT027,1985,Medium,Tier 3,Supermarket Type3,4476.1734

In [7]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [9]:
# Binning
# pandas.cut() and pandas.qcut are normally used
# pd.cut(x,bins,labels = None, right=true)
bins = [1979,1989,1999,2009]
labels = ['80s','90s','09s']
binned_years = pd.cut(df['Outlet_Establishment_Year'], bins,labels=labels, right=True)
print(binned_years)

0       90s
1       09s
2       90s
3       90s
4       80s
       ...
8518    80s
8519    09s
8520    09s
8521    09s
8522    90s
Name: Outlet_Establishment_Year, Length: 8523, dtype: category
Categories (3, object): ['80s' < '90s' < '09s']

In [10]:
# . Using pandas.qcut()
# This method bins data into quantiles (bins with an equal number of data points).
# Syntax:
# pd.qcut(x, q, labels=None)
# •	x: The input array or column.
# •	q: The number of quantiles (bins) or a list of quantile edges.
# •	labels: Labels for the bins (optional).
df['Item_Weight_bin'] = pd.qcut(df['Item_Weight'], q=3, labels =['less weight','medium weight','heavy'])
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Weight_bin
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,less weight
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,less weight
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,heavy
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,heavy
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,less weight